{% extends 'base.html'%}
{%block title%}字典主页{%endblock%}
{%block content%}
<div class="row">
    <div class="col text-end">
        <a href="{%url 'syscode:wordbook_add'%}" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;添加</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="40%">代码</th>
            <th width="40%">名称</th>
            <th width="20%">Action</th>
        </tr>
    </thead>
    <tbody>
    {%if books%}
    {%for book in books%}
        <tr>
            <td>{{book.code}}</td>
            <td>{{book.name}}</td>
            <td>
                <a href="{%url 'syscode:wordbook_edit' book.id%}" class="btn btn-sm btn-outline-info"><i class="bi bi-pencil-square"></i>&nbsp;编辑</a>&nbsp;&nbsp;
                <a href="{%url 'syscode:wordenum_add' book.id%}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-list-ul"></i>&nbsp;枚举</a>
            </td>
        </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td colspan="3" class="text-info text-center">没有数据！</td>
    </tr>
    {%endif%}
    </tbody>
</table>
{%endblock%}